body{
	line-height: 1.3em;
	padding: 20px;
	margin: 10px;
	text-align: center;
}
/*search page*/

.username-input{
	width: 50%;
	margin: 20px auto;
}

p{
	margin: 20px;
	padding: 10px;
}

.user-input{
	font-weight: bold;
	color: #428bca;
}

/*select camera page*/

/*show images page*/
